$first: #b3b4bd;

.mains {
  div {
    p {
      font-weight: bold;
      text-shadow: 1px 1px 4px $first, -1px -1px 4px $first, -1px 1px 4px $first,
        1px -1px 4px $first;
    }
  }
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

/* Other styles */
section {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkorchid;
}

section:nth-child(2n) {
  background-color: turquoise;
}

section:nth-child(3n) {
  background-color: tomato;
}

.bgg{
  background: rgb(99,99,99);
background: radial-gradient(circle, rgba(99,99,99,1) 0%, rgba(255,255,255,1) 94%);
}